.container {
  text-align: center;
  margin-top: 50px;
}

.bulb {
  width: 120px;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn-on{
  background-color: green;
  color: white;
}
.btn-off{
  background-color: red;
  color: white;
}